body {
	margin: 0;
	padding: 0;
	position:relative;
}

body.onDragover {
	border : 5px dashed #99cde1;
}

nav {
	margint:0;
}

nav #leftNav{
	float:left;
}

nav #rightNav {
	float:right;
}

nav:after {
	content: "."; 
	display: block; 
	height: 0; 
	font-size:0;	
	clear: both; 
	visibility:hidden;
}

#attach {
	width:100%;
	border-top:1px solid gray;
	border-bottom:1px solid gray;
	display:none;
}
#attach #attachForm {
	box-sizing:border-box;
	width:100%;
	height:100%;
	display:none;
}

#attach #attachForm input[type="file"] {
	width:100%;
}

#attach #filer{
	box-sizing:border-box;
	width:100%;
	height:150px;
	overflow: auto;
	display:none;
}

#attach #filer input{
	width: 300px;
}

#attach #attachToggleButton,
#attach #previewToggleButton{
	width: 50%;
}

#wrapper {
	overflow: auto;
}

#wrapper #editorTabWrapper {
	box-sizing:border-box;
	width:50%;
	height:100%;
	float:left;
	border-top:none;
	display:none;
	margin: 0;
	padding: 0;
}

#wrapper #editorTabWrapper #editorTabContents {
	box-sizing:border-box;
	width: 100%;
	height: calc(100% - 20px); /* #editorTabの高さと合わせる */
	marign: 0;
	padding: 0;
}

#wrapper #editorTabWrapper #editorTabContents #editor,
#wrapper #editorTabWrapper #editorTabContents #cssEditor{
	box-sizing:border-box;
	resize:none; 
	width: 100%;
	height:100%;
	-moz-tab-size: 4;
	-o-tab-size: 4;
	tab-size: 4;
	margin: 0;
}

#wrapper #editorTabWrapper #editorTabContents #cssEditor {
	display:none;
}

#wrapper #editorTabWrapper #editorTabs {
	box-sizing:border-box;
	border:0;
	width: 100%;
	height:20px; /* #editorTabContentsの高さと合わせる */
	margin: 0;
	padding: 0;
}

#wrapper #editorTabWrapper #editorTabs li {
	box-sizing:border-box;
	list-style: none;
	float:left;
	width:50%;
	height:100%;
	text-align:center;
	margin-left:0;
	border-top:0;
	border-right:1px solid gray;
	border-bottom:1px solid gray;
	border-left:1px solid gray;
	border-radius: 0 0 10px 10px/0 0 10px 10px;
}

#wrapper #editorTabWrapper #editorTabs li a {
	display:block;
	width:100%;
	height:100%;
	text-decoration:none;
	color:black;
}

#wrapper #editorTabWrapper #editorTabs li.selected {
	background-color:#7a9cd3;
}

#wrapper #editorTabWrapper.fullWidth {
	width:100%;
}

#previewer {
	box-sizing:border-box;
	margin: 0 auto;
	height:auto;
	overflow:auto;
}

.previewMode #previewer {
	height: auto;
	overflow:auto;
}

.editMode #previewer {
	width:50%;
	height:100%;
}

#previewer:empty {
	border: 0;
}

#previewer:focus {
	outline:none;
}

#previewer:after {
	content: "."; 
	display: block; 
	height: 0; 
	font-size:0;	
	clear: both; 
	visibility:hidden;
}

#onlineMenu {
	display:none;
	border : 1px solid gray;
	position:absolute;
	margin:0;
	padding:0;
}

#onlineMenu > ul {
	list-style-type: none;
	margin:0;
	padding:0;
}

#onlineMenu > ul > li {
	margin:0;
}

#onlineMenu > ul > li > a {
	box-sizing:border-box;
	text-decoration:none;
	display:block;
	margin:0;
	padding:10px;
	width:100%;
	height:100%;
	color : black;
	background-color:#ffffff;
}

#onlineMenu > ul > li > a:hover {
	background-color:#99cde1;
}

#importDialog {
	border : 1px solid gray;
	position:absolute;
	width:440px;
}

#importDialog {
	border : 1px solid gray;
	position:absolute;
	width:440px;
	padding:20px;
	display:none;
	background-color:white;
}

#importDialog  ul.buttonArea {
	list-style-type: none;
	margin:0;
	padding:0;
}

#importDialog ul.buttonArea li {
	display:block;
	float:left;
}

#importDialog  ul.buttonArea li button {
	height : 35px;
	padding-left:  20px;
	padding-right:  20px;
}

.showBlock {
	display:block !important;
}

.hide {
	display: none  !important;
}

@media print {
  nav {
  	display:none;
  }
  #previewer {
  	border:0 !important;
  	margin:0 !important;
  	padding:0 !important;
  }
}
